section {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

label,
legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[name='delay'] {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 8px;
}

input[name='delay']:hover {
  border: 1px solid #000;
}

fieldset {
  display: flex;
  box-sizing: border-box;
  gap: 48px;
  width: 360px;
  height: 78px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 26px;
  justify-content: center;
  align-items: flex-end;
}

fieldset:hover {
  border: 1px solid #000;
}

button {
  border-radius: 8px;
  border-color: #4e75ff;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
  border-color: #6c8cff;
  cursor: pointer;
}
